@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #e8e0cf;
  color: #1f1a14;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
